.search-header-text {
  text-align: center;
  color: var(--color-white);
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0;
}

.search-page-title {
  text-align: center;
  color: var(--color-white) !important;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 1.2rem;
   margin-top: 11rem;
}

.search-header-pane {
  background-color: var(--color-primary);
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  margin-top: -2px; // Just in case there is any whitespace between elements.
}

.load-more {
  text-align: center;
}
