@import 'styles/Variables';

.entry-header {
  color: var(--color-white);
  margin-top: 110px;
}

.image {
  position: relative;
  display: block;
  min-height: 315px;

  figure {
     margin: 0;
     min-height: 315px;
     object-fit: cover; 
    }

  figure img { 
    min-height: 315px;
    object-fit: cover; 
  }

}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  display: flex; 
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  @media screen and (max-width: 767px) {
    bottom: 10px;
  }
}

.overlay > .container {
  width: 100%;
  display: flex;
  align-items: center;
}

.heading-home {
  position: static;
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  pointer-events: auto;
}

.text,
.image { margin: auto; text-align: center; }
.text { width: 100%; }
.title { line-height: 1em; font-weight: 700; }
.byline { font-weight: $font-weight-bold; font-size: 1.2rem; text-transform: uppercase; }


.featured-image { margin: 0; position: relative; z-index: 1; }


.heading-home {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1.05;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -25px; 
    width: 200px; 
    height: 3px;  
    background: #C69214;  
  }

  
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;   
    width: 200px;  
    height: 3px;
    background: #C69214;
  }
}
