@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700&display=swap');


$font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

$breakpoint-extra-small: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

$container-max-width: 1400px;

$content-max-width: 1400px;

$box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

$gold: #bd8b13;