@import 'styles/Variables';

.submenu-toggle { 
    
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-right: 10px;
    margin-left: -5px;
    padding: 0;
    color: $gold;
    font-weight: 900;


    .visually-hidden {
        display: none;
    }


}



.item-row {
        display: flex;
    justify-content: center;
    align-items: center;
}

